.colorBlack {
    background-color: black;
}
.colorWhite {
    background-color: white;
}
.colorOrange {
    background-color: orange;
}
.colorYellow {
    background-color: yellow;
}
.colorRed {
    background-color: red;
}
.colorGreen {
    background-color: green;
}
.colorBlue {
    background-color: blue;
}
.colorPurple {
    background-color: purple;
}
