.colorBlack, #black {
    background-color: black;
}
.colorWhite, #white {
    background-color: white;
}
.colorOrange, #orange {
    background-color: orange;
}
.colorYellow, #yellow {
    background-color: yellow;
}
.colorRed, #red {
    background-color: red;
}
.colorGreen, #green {
    background-color: green;
}
.colorBlue, #blue {
    background-color: blue;
}
.colorPurple, #purple {
    background-color: purple;
}
