* {
    margin: 0;
    padding: 0;
}
#container {
    background-color: rgb(59, 59, 59);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameContainer {
    height: 800px;
    width: 1200px;
    background-color: rgb(0, 64, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 30px solid rgb(0, 40, 87);
}
#menuContainer {
    height: 670px;
    width: 290px;
    background-color: rgb(1, 56, 119);
    border: 5px solid rgb(0, 40, 87);
    display: flex;
    flex-direction: column;
}
.menu {
    height: 100%;
    gap: 50px;
}
#menuColorPicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
}
.colorPicker {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#colors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#colorPickerText {
    color: rgb(0, 40, 87);
    font-size: 40px;
}
.colors {
    height: 30px;
    width: 30px;
    border: 4px solid rgb(0, 40, 87);
}
#menuSizeChooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#setButton {
    position: relative;
    bottom: 20px;
}
#resetButton {
    padding: 10px 20px;
    border: 3px solid rgb(0, 40, 87);
    border-radius: 15px;
    background-color: rgb(0, 64, 138);
    color: rgb(0, 7, 15);
    font-weight: bold;
}
#gridSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 3px;
}
#gridContainer {
    height: 600px;
    width: 600px;
    border: 40px solid rgb(0, 40, 87);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}